name: Editorconfig

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  editorconfig:
    name: Editorconfig

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up BunJS
        uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: bun i

      - name: Lint
        run: bun lint:editorconfig
